<h1 class="user-list-title"> Your Grocery List </h1>
    <div class="user-list">
     <% if current_user.list == nil %>
        <%= "No Ingredients Selected." %>
     <% elsif current_user.list.ingredients.empty? %>
        <%= "No Ingredients Selected." %>
     <% else %>
     <% current_user.list.ingredients.each do |ingredient| %>
       <li class="ingredients-user-page"><%= ingredient.description %>
     <% end %>
     <% end %>
   </div>
