</br>
Favorite Recipe: <%= link_to(@favorites.recipe.name, "/recipes/#{@favorites.recipe.f2f_id}") %>

</br>
</br>
Recipe Ingredients:
</br> <% @favorites.recipe.ingredients.each do |x| %>
  <li> <%= x.description %> </li>
      <% end %>
</br>

<%= link_to 'Remove from favorites', favorite_path(favorite_id: @favorite), method: :delete %>
