<h1>Cuisines</h1>
<html>
<body>



   <a class="button" href="http://localhost:3000/recipes?utf8=%E2%9C%93&search=Italian"><%= "Italian"%></a>






</body>
</html>
>>>>>>> bd661f8cd7c52b06e0e3c311605cfc051639f5b6
