<h1> Welcome <%= current_user.first_name %>, to your FoodEh profile! </h1>

<!-- <h2>Your Grocery List</h2>

  <% current_user.list do |l|%>
    <%= l.user.ingredient.description %>
  <% end %> -->


  <h1> Welcome <%= @user.first_name %> </h1>
