<h1> Welcome to your FoodEh profile <%= current_user.first_name %>! </h1>


<h2> Your Favorite Recipes </h2>

   <% current_user.favorites.each do |favorite| %>
    <li><%=link_to favorite.recipe.name, favorite_path(favorite.id)%></li>
   <br>
   <% end %>
