/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  left: 0;
  margin: 0;
}

.site-header {
  background-image: url(https://static1.squarespace.com/static/532ed214e4b078ca803b832f/t/569bd0c5c647addf69b495c3/1453052102928/food+spread);
  height: 350px;
  margin: 0;
  border: 0;
}

.site-nav {
  background-color: rgba(255, 0, 0, 0.5);;
  position: fixed;
  float: right;
  top: 0%;
  width: 100%;

}

.nav-button {
   border-style: solid;
   border-width: 1px 1px 3px;
   box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
   color: grey;
   background-color: white;
   border-radius: 4px;
   cursor: pointer;
   display: inline-block;
   font-style: normal;
   overflow: hidden;
   text-align: center;
   text-decoration: none;
   text-overflow: ellipsis;
   transition: all 200ms ease-in-out 0s;
   white-space: nowrap;
   font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
   font-weight: 70;
   padding: 2px 10px 2px;
   font-size: 18px;
   float: right;
   margin-left: 8px;
   margin-right: 4px;
   margin-bottom: 4px;

}

.nav-text {
  float: right;
  color: white;
}

p.nav-text {
  font-size: 20px;
  float: right;
  margin-right: 5px;
}

.logo {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  position: relative;
  top: 89.5%;
  width: 100%;
  text-align: center;
}
