// Place all the styles related to the Cuisines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header-video {
	height: 500px;
}

.cuisine-h1 {
	text-align: center;
}

.cuisinebuttons {
	border-radius: 20px;
	width: 250px;
	display: block;
	float: left;
	border: 0.5px solid red;
	height: 200px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	background-color: white;
	overflow: hidden;
	margin-bottom: 2px;
	font-family: "Avenir Next" !important;
}
p.cuisinebuttons a:link, p.cuisinebuttons a:visited, p.cuisinebuttons a:focus, p.cuisinebuttons a:active {
	text-decoration: none;
	color: black;

}
.cuisinecontainer {
	padding-left: 5%;
	padding-bottom: 5%;
	margin-top: 125px;
}

img {
	width: 100%;
	height: 90%;
}

.cuisinebuttons:hover {
	background-color: rgba(255, 10, 0, 0.6);
	text-decoration: none;
	border: 1px solid black;
}

.cuisinebuttons:active {
	position:relative;
	text-decoration: none;
}

.cuisine-h1 {
	font-family: "Avenir Next" !important;
	font-size: 40px;
}

.header-video {
  position: relative;
  top: 50%; left: 50%;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  /*top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -1;*/
}

.cuisine-searchbar {
	position: absolute;
	left: 42.5%;
	top: 55%;
}
