// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  overflow-x: hidden;
}

.recipe-title a {
  color: black !important;;
}

.recipe-instructions {
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
}


.recipe-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto
}


.recipe-buttons {
  padding-bottom: 2%;
  width: 250px;
  height: 17em;
  margin: 5% auto;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.recipe-buttons::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto
}


.recipe-buttons:hover {
  transform: scale(1.2, 1.2);
}

.recipe-buttons:hover::after {
  opacity: 1;
}

.recipe-image {
  width: 177px;
  height: 100px;
}

.recipe-name-showpage {
  text-transform: capitalize;
}

h1.recipe-topper {
  font-family: "Avenir Next" !important;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
}

p.recipe-topper {
  text-align: center;
}

h2.recipe-topper {
  font-family: "Avenir Next" !important;
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
  min-width: 100%;
}

.ingredients {
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
}

.add-fav-button {
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
}


.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  align-items: center;
  margin: auto;
  display: inline-block;
  display: flex;
}


.new-review-header {
  min-width: 100%;
}

h4.new-review-header {
  width: 100%;
  font-size: 20px;
}

h3.review-section-header {
  width: 100%;
}

p.new-reviews {
  width: 100%;
}

button.add-ing {
  min-width: 45px;
  min-height: 37.5px;
  background: url('add_ing.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: 0;
}

.btn {
  background-color: #c62828 !important;;
}
