// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  overflow-x: hidden;
}

.site-header {
  background-image: url("https://static1.squarespace.com/static/532ed214e4b078ca803b832f/t/569bd0c5c647addf69b495c3/1453052102928/food+spread");
  height: 350px;
  width: 100%;
  margin: 0;
  border: 0;
}

table {
  width: 75%;
  padding-left: 25%;
  border-top: 0;
  border-right: 0;
}

// .odd {
//   background-color: rgba(255, 100, 100, 0.8);
// }

// th {
//   background-color: rgba(255, 100, 100, 0.8);
// }

.recipe-image {
  width: 177px;
  height: 100px;
}

h1.recipe-topper {
  font-family: "Avenir Next" !important;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
}

p.recipe-topper {
  text-align: center;
  padding-left: 32%;
}

h2.recipe-topper {
  font-family: "Avenir Next" !important;
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
  min-width: 100%;
}

.add-fav-button {
  max-width: 150px;
}

.add-fav-button:hover {

}

.ingredients {
  position: relative;
  left: 30%;
  text-align: center;
  max-width: 35%;
}

.add-fav-button {
  position: relative;;
  left: 42.5%;
  right: 42.5%;
  margin-bottom: 10px;


  padding: 0;
  border: none;
  background: none;
}

.recipe-ingredients {
  padding-bottom: 2%;
}

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  32.5%;
  right: 32.5%;
}

p.recipe-instructions {
  position: relative;;
  left: 42.5%;
  right: 42.5%;
  margin-bottom: 10px;


  padding: 0;
  border: none;
  background: none;
}

.new-review-header {
  min-width: 100%;
}

h4.new-review-header {
  width: 100%;
  font-size: 20px;
}

h3.review-section-header {
  width: 100%;
}

p.new-reviews {
  width: 100%;
}

@media only screen and (max-width: 1100px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  30%;
  right: 30%;
  }
}


@media only screen and (max-width: 900px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  27.5%;
  right: 27.5%;
  }
}

@media only screen and (max-width: 800px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  25%;
  right: 25%;
  }
}

@media only screen and (max-width: 675px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  22.5%;
  right: 22.5%;
  }
}

@media only screen and (max-width: 600px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  20%;
  right: 20%;
  }
}

@media only screen and (max-width: 550px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  10%;

  }
}

@media only screen and (max-width: 450px) {

.recipe-show img {
  width: 400px;
  height: 250px;
  position: relative;
  left:  0%;

  }
}
