// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: "Avenir Next" !important;;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

h1.user-list-title {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

h1.user-favorites-title {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

li {
  margin-left: 10px;
  padding-top: 5px;
}

div#map {
  left: 10%;
  border: 2px solid red;
}

h1.map-topper {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

.user-list {
  position: relative;
  width: 45%;
  overflow: hidden;
  min-height: 300px;
  left: 30%;
  background-image: url("fancy_paper.jpg");
}


li.ingredients-user-page {
  float: left;
  left: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.user-list-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 37.5%;
  margin-top: 10px;
}

.user-favorites {
  position: relative;
  border: 2px solid red;
  width: 50%;
  overflow: hidden;
  left: 27.5%;
  min-height: 20px;
}

.user-favorites-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 35%;
  margin-top: 10px;
}

.create-account {
  padding-left: 2%;
}

li {
  font: 400 2em/125% 'Sue Ellen Francisco', Helvetica, Sans-serif !important;;
  color: #333;
}

.user-list input {
  min-width: 50px;
  min-height: 40px;
  background: url('delete-icon.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: none;
}
