// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
  color: black !important;
}

.create-account {
  padding-left: 2%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
}

h1 {
  font-family: "Avenir Next" !important;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

h1.user-list-title {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

h1.user-favorites-title {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

li {
  margin-left: 10px;
  padding-top: 5px;
}

div#map {
  left: 10%;
}

h1.map-topper {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

.fav-recipes-title {
  text-align: center;
  font-weight: bolder;
  margin-top: 10%;
}

.fav-recipes-container {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.fav-recipes a {
  align-items: center;
  margin: auto;
  text-align: center !important;
  color: black;
  padding: 5px;
  width: 250px;
  height: auto;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}

.no-favs a {
  margin: 0;
  text-align: center;
  display: block;
}

.favs-delete {
  background-color: #c62828;
  color: white !important;
}

.grocery-list-title {
  text-align: center;
  font-weight: bolder;
  margin-top: 10%;
}

.grocery-list-container {
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.print-list a {
  margin: 0;
  text-align: center;
  display: block;
}

.edit_ingredient input {
  min-width: 50px;
  min-height: 40px;
  background: image-url('delete-icon.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: none;
}

.edit_ingredients input {
  min-width: 50px;
  min-height: 40px;
  background: image-url('delete-icon.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: none;
}

.user-list {
  position: relative;
  width: 45%;
  overflow: hidden;
  min-height: 300px;
  left: 30%;
  background-image: url("fancy_paper.jpg");
}


li.ingredients-user-page {

  align-items: center;
  margin: auto;
  text-align: center !important;
  color: black;
  padding: 5px;
  width: 250px;
  height: auto;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}

.user-list-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 37.5%;
  margin-top: 10px;
}

.user-favorites {
  position: relative;
  border: 2px solid red;
  width: 50%;
  overflow: hidden;
  left: 27.5%;
  min-height: 20px;
}

.user-favorites-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 35%;
  margin-top: 10px;
}

.grocery-list a  {
  position: relative;
  left: 40%;
  right: 40%;
}
