// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-header {
  background-image: url("https://static1.squarespace.com/static/532ed214e4b078ca803b832f/t/569bd0c5c647addf69b495c3/1453052102928/food+spread");
  height: 350px;
  width: 100%;
  margin: 0;
  border: 0;
}

h1 {
  font-family: "Avenir Next" !important;;
  font-size: 50px;
  text-align: center;
  padding-top: 5px;
}

h2 {
  font-family: "Avenir Next";
  font-size: 35px;
  text-align: left;
  padding-top: 5px;
  margin-left: 10px;
}

li {
  margin-left: 10px;
  padding-top: 5px;
}

div#map {
  left: 10%;
  border: 2px solid red;
}

h2.map-topper {
  text-align: center;
}

.user-list {
  position: relative;
  border: 2px solid red;
  width: 50%;
  overflow: hidden;
  min-height: 20px;
  left: 27.5%;
}


li.ingredients-user-page {
  float: left;
  left: 0;
}

.user-list-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 37.5%;
  margin-top: 10px;
}

.user-favorites {
  position: relative;
  border: 2px solid red;
  width: 50%;
  overflow: hidden;
  left: 27.5%;
  min-height: 20px;
}

.user-favorites-title {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 35%;
  margin-top: 10px;
}
